.about-company-card {
    border: 1px solid #cbd5e1;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .company-info {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .company-info h3 {
    font-weight: bold;
  }
  
  .company-info p {
    color: #475569;
  }
  
  .company-logo a {
    display: inline-block;
  }
  
  .company-logo img {
    max-width: 100px;
    height: auto;
  }
  